# Entornos virtuales
venv/
env/
.env
ENV/
vh/

# Python (compilados y caché)
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Notebooks
.ipynb_checkpoints/

# IDEs (VS Code, PyCharm, etc)
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
Thumbs.db
desktop.ini
.DS_Store

# Logs
*.log

# No ignorar los modelos .pkl ya que son necesarios para la app si no se cuenta con LFS
# !modelo_regresion_logistica.pkl
# !modelo_bosque_aleatorio.pkl
# !scaler.pkl
